pbr>=5.8.0 # Apache-2.0
fastapi<=0.58.1 # MIT
uvicorn==0.18.3 # BSD License (3 clause)
pydantic<=1.8.2 # MIT
aiomysql<=0.1.1 # MIT
aiosqlite<=0.17.0 # MIT
loguru<=0.5.3 # MIT
databases<=0.5.5 # BSD License (3 clause)
PyYAML>=5.4.1,<=6.0 # MIT
python-multipart<=0.0.5 
immutables>=0.16 # Apache-2.0